@page
@model Web.Pages.Recetas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
      
        padding: 10px 20px;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 50px;
        color: #333;
    }

    h3 {
        font-size: 1.5rem;
        color: #666;
        text-align: center;
        margin-bottom: 30px;
    }

    hr {
        border-top: 2px solid #007bff;
        margin-bottom: 20px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col-sm-2, .col-sm-10 {
        padding: 10px;
    }

    .delete-form {
        text-align: center;
    }

        .delete-form input[type="submit"] {
            background-color: #dc3545;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            margin-right: 10px;
        }

            .delete-form input[type="submit"]:hover {
                background-color: #c82333;
            }

    .back-link {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

        .back-link a {
            color: #007bff;
        }

            .back-link a:hover {
                text-decoration: underline;
            }
</style>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Receta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receta.Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receta.Paciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receta.Medico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receta.Medico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receta.FechaEmision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receta.FechaEmision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receta.Medicamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receta.Medicamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receta.Instrucciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receta.Instrucciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receta.Expira)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receta.Expira)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receta.Comentarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receta.Comentarios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receta.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receta.Estado)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Receta.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
