@page
@model Web.Pages.Medicamentos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Medicamentos</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].Indicaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].Fecha_Caducidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].Efectos_Secundarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento[0].Fabricante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medicamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indicaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Caducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efectos_Secundarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
